<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.demoblaze.SignupPage"/>
      <class name="com.atmecs.demoblaze.LoginPage"/>
       <class name="com.atmecs.demoblaze.ContactPage"/>
      
      <class name="com.atmecs.demoblaze.AddCartPage"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
